/* SEMI-ATOMIC CLASSES */

.flex {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

/* FONTS */
.franone {
    font-family: 'Francois One', sans-serif;
}

.marker {
    font-family: 'Permanent Marker', cursive;
}

/* BACKGROUND */
.bg1 {
    background-color: #e3e3e3;
}

.bg2 {
    background-color: white;
}

/* HEADER CLASSES */

.headlay {
    border-bottom-style: groove;
    margin: 0rem 8.5rem 0rem 8.5rem;
    /* background-color: salmon; */
    padding: 2rem 18rem 0rem 18rem;
}

.navlay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border-style: solid; */
    list-style: none; 
}

.navname {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 3.3rem;
    /* border-style: solid; */
}

.navtab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 1rem;
    /* border-style: solid; */
}

.navbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    height: 3rem;
    width: 7rem;
    color: black;
}
.navbutton:hover {
    text-decoration: underline;
}



/* MAIN CONTENT TABLES */

.bodylay {
    /* border-style: solid; */
    padding: 7rem 26.5rem 0rem 26.5em;
}
.tablelay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}


.container {
    position: relative;
    background-color: black;
}

.textoverlay {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    width: 100%;
    color: white;
}

.tablepicture {
    width: 10rem;
    padding-right: 1.5rem;
}

.portpic {
    width: 15rem;
    opacity: .6;
    float: right;
}


/* FORM STYLES */

.formcontainer {
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }

.inputsizing {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
  }

.contacttitle {
    display: block;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    padding-bottom: 20px;
  }

.contactsizing {
    width: 550px;
    background: transparent;
    padding: 4rem 0 4rem 0;
  }

.contactbox {
    position: relative;
    display: flex;
    width: 100%;
    background: #fff;
    font-size: 18px;
    color: #8f8fa1;
    line-height: 1.1;
  }

  

/* FOOTER STYLES */
.footlay {
    display: flex;
    justify-content: center;
    /* border-style: solid; */
}
