/* reset hardcodes */

a {
    color: midnightblue;
    text-decoration: none;

}

ul {
    margin: 0px;
}

/* div classes */

.bodystyle {
    border: 3px black solid;
    margin: 24px;
    padding: 24px;

}

.headerstyle {
    display: flex;
    justify-content: space-between;
    align-content: center;


}

.nav {
    display: flex;
    list-style: none;

}